---
import Projects from "../components/Projects.astro";
---

<script>
  // PROBLEM
  // querySelector works fine but not querySelectorAll - due to it sending back a node list of all matching classes?
  // if i add the spotlight class to the whole document then all the rest of the formatting goes out the window

  // color spolight

  const container = document.getElementById("container")!;
  ////////
  const text = container.innerText;
  container.innerHTML = "";

  // Create a span for each letter
  for (let letter of text) {
    container.innerHTML += `<span>${letter}</span>`;
  }
  ///////

  const spans = container.querySelectorAll("span");

  container.addEventListener("mousemove", (e) => {
    spans.forEach((span) => {
      const rect = span.getBoundingClientRect();
      const dist = Math.hypot(rect.x - e.clientX, rect.y - e.clientY);

      // Change color based on distance from mouse pointer
      if (dist < 60) {
        // span.style.color = "red";

        span.style.background = " rgb(131,58,180)";
        span.style.background =
          " radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)";
        span.style.backgroundClip = "text";
        span.style.webkitTextFillColor = "transparent";
      } else {
        span.style.color = "black";
        span.style.background = "white";
        span.style.webkitTextFillColor = "";
      }
    });
  });
</script>
<script>
  // highlights all of the other iterations of a word at the same time
  window.onload = function () {
    const reactSpans = document.querySelectorAll(
      ".react-span"
    ) as NodeListOf<HTMLSpanElement>;
    reactSpans.forEach((span) => {
      span.addEventListener("mouseover", () => {
        reactSpans.forEach(
          (span) => (
            (span.style.color = "white"), (span.style.background = "black")
          )
        );
      });

      span.addEventListener("mouseout", () => {
        reactSpans.forEach(
          (span) => ((span.style.color = ""), (span.style.background = ""))
        );
      });
    });
  };
</script>

<!-- ``

  
tailwind css helpers :

bg-pink-100
border-8 border-red-800

 -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Keelie CV</title>
  </head>

  <body class="space-y-5 font-mono">
    <h1 class="text-7xl font-bold text-center">Keelie Codes</h1>
    <h2 class="text-xl text-center">Junior Full Stack Developer</h2>
    <div class="flex space-x-5 justify-center">
      <a href="mailto:k-velvet-p@protonmail.com" target="_blank">
        <img src="/mail-icon.png" alt="Mail Icon" /></a
      >

      <a href="https://github.com/kepea1" target="_blank">
        <img src="/github-icon.png" alt="github Icon" />
      </a>

      <a href="https://www.linkedin.com/in/k-v-p/" target="_blank">
        <img src="/linkedin-icon.png" alt="linkedin Icon" />
      </a>
    </div>
    <!----------------->
    <div class="">
      <div class="bg-slate-100">
        <h2 class="text-2xl text-center">Skills</h2>
      </div>

      <!-- <div class="m-5 justify-around flex flex-row border-4 border-red-600 gap-x-px"> -->
      <div class="m-5 grid gap-2 grid-row-3 tracking-tight lg:flex lg:flex-row">
        <div class="">
          <h3 class="font-bold underline">Front End</h3>
          <p class="">
            <span class="react-span">React</span> | JavaScript | TypeScript | HTML5
            | CSS3 | Jest | Playwright
          </p>
        </div>
        <div class="group-hover:bg-black group-hover:text-white">
          <div>
            <h3 class="font-bold underline">Back End</h3>
          </div>
          <p>Node.js | Express.js | PostgreSQL | Supabase</p>
        </div>
        <div class="group-hover:bg-black group-hover:text-white">
          <div>
            <h3 class="font-bold underline">Other</h3>
          </div>
          <p>VSCode | Git | Trello | Figma | Netlify | Vercel</p>
        </div>
      </div>
    </div>
    <!-- ---------------------- -->
    <div class="group">
      <div class="bg-slate-100">
        <h2 class="text-2xl text-center">Projects</h2>
      </div>
      <div class="md:m-10 m-5 flex flex-col space-y-5">
        <div class="inline-block">
          <Projects
            title="Raena Cohen EPK"
            tag="Eletronic Press Kit for a musician"
            site="https://raena-cohen-epk.vercel.app/"
            repo="https://github.com/K-velvet-P/Raena-Cohen-EPK"
            tech_Frontend="Frontend: JavaScript | Next.js , React-Hook-Forms | Jest, Playwrite | Vercel"
            tech_Backend="Backend: Node.js | Nodemailer"
            tech_Other="Styling and Animation: Animate.css"
          >
            <!-- add child here  -->
            <div class="m-3">
              <!-- <h1>Tech Stack</h1> -->

              <ul class="list-disc flex flex-col gap-1">
                <li>
                  Designed and built a responsive, mobile-first website for a
                  musician.
                </li>
                <li>
                  Liaised with client to design, implement and adapt according
                  to feedback.
                </li>
                <li>
                  Utilised various methods to showcase artist work, such as
                  I-frames and connecting to Linktrees.
                </li>
                <li>
                  Integrated a contact form using Nodemailer, attached directly
                  to the clients professional email. Including validation and
                  feedback.
                </li>
              </ul>
            </div>
          </Projects>
        </div>

        <div class="flex flex-col">
          <div class="">
            <div class="flex flex">
              <Projects
                title="Paws For Affection"
                tag="Dog adoption site"
                site="https://pawsforaffection.netlify.app/"
                repo="https://github.com/K-velvet-P/TheHackitectsFinalProjects"
                tech_Frontend="Frontend: JavaScript | Swiper, Material UI | Jest, Playwrite | Netlify"
                tech_Backend="Backend: Node.js | Supabase"
                tech_Other=""
              />
            </div>

            <div class="m-3">
              <ul class="list-disc flex flex-col gap-1">
                <li>
                  Developed a full-stack <span class="react-span">React</span>
                  app in an agile team and demoing it to industry experts.
                </li>
                <li>
                  Collaborated with team members to ideate, plan and execute the
                  project
                </li>
                <li>
                  Participated in pair programming, improving team-working,
                  communication, and problem-solving skills.
                </li>
                <li>Led the team in daily stand-ups, retros and sprints.</li>
                <li>
                  Contributed to building a database, linking it to the frontend
                  and displaying dogs avabile for adoption on site.
                </li>
                <li>
                  Contributed to implementing log in functionally with
                  authorisation.
                </li>
                <li>
                  Contributed to utelising superbase’s built it Postgrest query
                  builder to allow authorised users to populate the database.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="flex flex-col">
          <div class="">
            <div class="flex flex">
              <Projects
                title="Paws For Affection"
                tag="Dog adoption site"
                site="https://pawsforaffection.netlify.app/"
                repo="https://github.com/K-velvet-P/TheHackitectsFinalProjects"
                tech_Frontend="Frontend: JavaScript | Swiper, Material UI | Jest, Playwrite | Netlify"
                tech_Backend="Backend: Node.js | Supabase"
                tech_Other=""
              />
              <div
                class="ml-96 relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
              >
                <img
                  src="/Macbook-Air-pawsforaffection.netlify.app.png"
                  alt="Paws for Affection"
                />
              </div>
            </div>

            <div class="m-3">
              <ul class="list-disc flex flex-col gap-1">
                <li>
                  Developed a full-stack <span class="react-span">React</span>
                  app in an agile team and demoing it to industry experts.
                </li>
                <li>
                  Collaborated with team members to ideate, plan and execute the
                  project
                </li>
                <li>
                  Participated in pair programming, improving team-working,
                  communication, and problem-solving skills.
                </li>
                <li>Led the team in daily stand-ups, retros and sprints.</li>
                <li>
                  Contributed to building a database, linking it to the frontend
                  and displaying dogs avabile for adoption on site.
                </li>
                <li>
                  Contributed to implementing log in functionally with
                  authorisation.
                </li>
                <li>
                  Contributed to utelising superbase’s built it Postgrest query
                  builder to allow authorised users to populate the database.
                </li>
              </ul>
            </div>
          </div>
        </div> -->

        <div>
          <div class="">
            <Projects
              title="Top Trump Star Wars"
              tag="Top Trump card game"
              site="https://top-trump-star-wars.vercel.app/"
              repo="https://github.com/K-velvet-P/TopTrumpStarWars"
              tech_Frontend="Frontend: JavaScript | React | Jest,Playwrite | Vercel"
              tech_Backend="Backend: Node.js"
              tech_Other="API: SWAPI Star Wars API"
            >
              <div class="m-3">
                <ul class="list-disc flex flex-col gap-1">
                  <li>
                    Pair Programming using a driver/navigator set up, to design
                    and create a front end <span class="react-span">React</span>
                    app game using the Star Wars Api.
                  </li>
                  <li>Worked quickly and accurately under time constraints</li>
                </ul>
              </div>
            </Projects>
          </div>
        </div>
      </div>

      <!-- ---------------------- -->

      <div>
        <div class="bg-slate-100">
          <h2 class="text-2xl text-center">Profile</h2>
        </div>
        <p
          class="m-5 text-center md:m-10 indent-8 md:text-justify leading-loose"
          id="container"
        >
          Throughout my life, I have travelled extensively, lived with diverse
          groups, and embraced new perspectives. These experiences have shaped
          my ability to work in a team, adapt quickly, think creatively, and
          approach challenges with an open mind. Additionally, I have played a
          vital role in raising and mentoring my younger sisters, instilling in
          me strong leadership, patience, and the ability to guide others
          towards growth. With the help of technology, I have been able to
          overcome my dyslexia and discover a love for learning, which has
          ignited a strong passion for all things tech. Recently completing a
          16-week coding bootcamp honed my skills in front-end, back-end, and
          infrastructure technologies. i complement this with regular
          participation in tech meet-ups to further enrich my knowledge.
        </p>
      </div>
    </div>
  </body>
</html>

<!-- <style>
  /* .react-span:hover {
    color: #61dafb;
  } */

  /* [class~="react_span"] {
  color:#61dafb;
} */
</style> -->
