---
import { Image } from "astro:assets";
interface Props {
  title: string;
  tag: string;
  site: string;
  repo: string;
}

const { title, tag, site, repo } = Astro.props;
---

<div class="space-y-1 flex flex-col gap-1">
  <div class="">
    <h1 class="font-bold text-xl tracking-tighter">{title}</h1>
    <h2 class="italic text-xs text-slate-600">{tag}</h2>

    <div class="flex flex-row space-x-2 text-s">
      <Image
        class="w-4 h-4"
        width="48"
        height="48"
        src="/link-icon-64.png"
        alt="link to deployed site"
      />
      <a
        class="inline-block underline"
        href={site}
        target="_blank"
        rel="noopener noreferrer"
      >
        Deployed Site
      </a>

      <Image
        class="w-4 h-4"
        width="48"
        height="48"
        src="/link-icon-64.png"
        alt="link to repo"
      />
      <a
        class="inline-block underline"
        href={repo}
        target="_blank"
        rel="noopener noreferrer"
      >
        Repo
      </a>
    </div>
  </div>

  <div class="">
    <slot class="" />
  </div>
  <!-- ----- -->
  <style></style>
</div>
