---
import Projects from '../components/Projects.astro'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="space-y-5">
		<h1 class="text-4xl text-center">Keelie Codes CV</h1>
		<h2 class="text-2xl text-center">Junior Full Stack Developer</h2>
		<div class="flex space-x-5 justify-center">
		  <a href="https://www.github.com/K-velvet-P">
			📨 k-velvet-p@protonmail.com</a
		  >
	
		  <a href="https://github.com/K-velvet-P"> ↗️ Git Icon </a>
	
		  <a href="https://www.linkedin.com/in/k-v-p/"
			>↗ IN https://www.linkedin.com/in/k-v-p/
		  </a>
		</div>
 <!-- ------------- -->
 <div class="">
	
	<div class="bg-slate-100">
	  <h2 class="text-2xl text-center">Skills</h2>
	</div>

	<div class="flex flex-row  justify-around ">

		<div class="flex flex-col ">
	  <div>
		<h3 class="font-bold">Front End</h3>
	  </div>
	  <p>
		React | NodeJS | JavaScript | TypeScript | VSCode | HTML5 | CSS3 |
		Jest | Playwright
	  </p>
	</div>
<div class="flex flex-col">
	  <div>
		<h3 class="font-bold">Back End</h3>
	  </div>
	  <p>Node.js | Express.js | PostgreSQL | Supabase</p>
	</div>
	<div class="flex flex-col">
	  <div>
		<h3 class="font-bold">Other</h3>
	  </div>
	  <p>VSCode | Git | Trello | Figma | Netlify | Vercel</p>
	</div>
	</div>
  </div>
<!-- ------------ -->

		<div class="bg-slate-100">
		  <h2 class="text-2xl text-center">Projects</h2>
		</div>
		<div class="" >
		<div class="flex flex-col space-y-5">
		  <div class="" >
		  <Projects title='Raena Cohen EPK' tag="Eletronic Press Kit for a musician" body="descption of what you did" site='https://raena-cohen-epk.vercel.app/' repo="https://github.com/K-velvet-P/Raena-Cohen-EPK"/>
		  </div>

		  <div class="" >
		  <Projects title='Paws For Affection' tag="Dog adoption site"  site='https://pawsforaffection.netlify.app/' repo="https://github.com/K-velvet-P/TheHackitectsFinalProjects" body="descption of what you did"/>
		  </div>

		  <div class="" >

		  <Projects title='Top Trump Star Wars' tag="Top Trump card game" site='https://top-trump-star-wars.vercel.app/' repo="https://github.com/K-velvet-P/TopTrumpStarWars" body="descption of what you did"/>
		  </div>

		</div>
	</div>
		
		
	
		<div>
		  <div class="bg-slate-100">
			<h2 class="text-2xl text-center">Profile</h2>
		  </div>
		  <p class="indent-8">
			Throughout my life, I have travelled extensively, lived with diverse
			groups, and embraced new perspectives. These experiences have shaped my
			ability to work in a team, adapt quickly, think creatively, and approach
			challenges with an open mind. Additionally, I have played a vital role
			in raising and mentoring my younger sisters, instilling in me strong
			leadership, patience, and the ability to guide others towards growth.
			With the help of technology, I have been able to overcome my dyslexia
			and discover a love for learning, which has ignited a strong passion for
			all things tech. Recently completing a 16-week coding bootcamp honed my
			skills in front-end, back-end, and infrastructure technologies. i
			complement this with regular participation in tech meet-ups to further
			enrich my knowledge.
		  </p>
		</div>
	  </body>	
</html>
